@model IEnumerable<ProyectoRecurso.Models.Cargo>

@{
    ViewBag.Title = "Index";
}


<div class="container">

    <br />
    <br />
    <h2>Cargo</h2>


    <a class="btn btn-success" href="~/Cargos/Create"><span class="glyphicon glyphicon-plus"> Nuevo</span></a>

    <table id="Tableid" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CargoEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleados.Nombre)
                </th>

                <th>
                    ID
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CargoEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleados.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                       
                        <a class="btn btn-primary" href="~/Cargos/Edit/@item.Id">Editar</a>
                        <a class="btn btn-info" href="~/Cargos/Details/@item.Id">Detalles</a>
                        <a class="btn btn-danger" href="~/Cargos/Delete/@item.Id">Eliminar</a>

                       

                    </td>
                </tr>
            }

        </thead>
    </table>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>




</div>